name: HTML CI

on:
  merge_group:
  pull_request:
    types: ["opened", "reopened", "ready_for_review", "synchronize"]
    branches:
      - main

jobs:
  build:
    # bla
    # runs-on: ubuntu-latest
    runs-on: self-hosted
    steps:
      - name: build
        run: |
          echo 'Building...'
          sleep 20
          echo 'Done'
